<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Panier
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <!-- Liste des éléments correspondants au menu-->
    <div *ngFor="let plat of platService.listPlat">
      <!-- Passe dans le component les éléments de plat (titre et image)-->
      <app-item-plat [titre]="plat.titre" [image]="plat.image" [canAjoutPanier]="false"></app-item-plat>
    </div>
  </ion-list>
</ion-content>
