<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <!-- Liste des éléments correspondants au menu-->
    <div *ngFor="let plat of platService.listPlat">
      <!-- Passe dans le component les éléments de plat (titre et image)-->
      <app-item-plat [plat]="plat" [canAjoutPanier]="true"></app-item-plat>
    </div>
  </ion-list>

  <!-- Bouton pour ajouter un menu -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="buttonAjouterPlat()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
